h1 {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
}
#menu {
    text-align: center;
    margin: 2em;
}
#spacer {
    margin-bottom: 2em;
}
.playSpace {
    margin-left: 15em;
    margin-right: 15em;
    
}
#inputLine input {
    border: none;
    margin: 0em;
    padding: 0em;
    outline-width: 0em;
    outline-style: none;
    font-family: inherit;
    background: none;
}
#inputLine {
    display: inline;
}
.hideIt #hatedOne {
    border: none;
    margin: 0em;
    padding: 0em;
    outline-width: 0em;
    outline-style: none;
    font-family: inherit;
    background: none;
}
